.block-header h2 {
  font-size: 22px !important;
  margin-bottom: 10px !important;
}

.breadcrumb{
  border-top: 1px solid #c2c6d2 !important;
  font-size: 12px !important;
  padding: 3px 0px !important;
}

.table-responsive{
  overflow-x: unset !important;
}

/* .chosen-container-single .chosen-single {
  border: none !important;
} */

.border-top-blue-3 {
  border-top: solid 3px #2196F3 !important;
}

select.form-control-sm {
  height: 34px !important;
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}
.panel-main{
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  /*border-top: solid 3px #745faa !important;*/
   border-top: solid 3px #009b4c !important; 
}
.panel-footer {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn-xs {
  padding: 2px 8px;
  font-size: 12px;
  line-height: 15px;
}

.panel-add{
  margin: 0px;
  color: #fff;
  font-weight: 600;
  /*background: #745faa;*/
  background: #009b4c;
  text-shadow: 0 1px 0 #009b4c;
}
.panel-update{
  margin: 0px;
  color: #fff;
  font-weight: 600;
  background: #e16123;
  text-shadow: 0 1px 0 #e16123;
}

.iconStatus {
  position:absolute;
  right:26px;
  top:5px;
  font-size:18px;
}

.messageError {
  font-size:12px;
  font-style: italic;
  margin-right: 5px;
}


.form-check-label:after, .form-radio-label:after{
  background-color: #735eaa !important;
}

.input-group-text{
  background-color: #735eaa !important;
  border-color: #735eaa !important;
}

.page-item.active .page-link{
  background-color: #735eaa !important;
  border-color: #735eaa !important;
}

.page-link {
  color: #735eaa;
}

.page-item.active .page-link{
  color: #fff !important;
}
.page-item.disabled .page-link{
  color: #696969 !important;
}

.labelBlue {
  padding: 10px;
  margin:0px;
  color:#fff;
  font-weight: 600;
  background: #b6d1f2; text-shadow: 0 1px 0 #aecef4;
}
.labelRed {
  padding: 10px;
  margin:0px;
  color:#fff;
  font-weight: 600;
  background: #f7a1a1; text-shadow: 0 1px 0 #f2abab;
}
.labelGreen {
  padding: 10px;
  margin:0px;
  color:#fff;
  font-weight: 600;
  background: #ade8a1; text-shadow: 0 1px 0 #b6e1ad;
}
.labelOrange {
  padding: 10px;
  margin:0px;
  color:#fff;
  font-weight: 600;
  background: #f8cd92; text-shadow: 0 1px 0 #f0cd9d;
}
.labelYellow {
  padding: 10px;
  margin:0px;
  background: #f8cd92;
  text-shadow: 0 1px 0 #f0cd9d;
  color:#fff;
  font-weight: 600;
}
.labelPink {
  padding: 10px;
  margin:0px;
  color:#fff;
  font-weight: 600;
  background: #f49ed8; text-shadow: 0 1px 0 #f0a8d9;
}
.labelPurple {
  padding: 10px;
  margin:0px;
  color:#fff;
  font-weight: 600;
  background: #e1a1ef; text-shadow: 0 1px 0 #d7a4e2;
}
.labelGray {
  padding: 10px;
  margin:0px;
  color:#fff;
  font-weight: 600;
  background: #bbb; text-shadow: 0 1px 0 #aaa;
}
.labelBlack {
  padding: 10px;
  margin:0px;
  color:#fff;
  font-weight: 600;
  background: #555; text-shadow: 0 1px 0 #444;
}
